div {
  color: #000;
  text-decoration: none;
}
div[title] {
  color: #900;
  text-decoration: none;
}

div[title]:hover  {
  color: red;
  /* ## position: relative; */
}

div[title]:hover:after {
  content: attr(title);
  padding: 4px 8px;
  color: #333;
  position: absolute;
  left: 0;
  top: 100%;
  white-space: nowrap;
  z-index: 20px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0px 0px 4px #222;
  -webkit-box-shadow: 0px 0px 4px #222;
  box-shadow: 0px 0px 4px #222;
  background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #eeeeee),color-stop(1, #cccccc));
  background-image: -webkit-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -ms-linear-gradient(top, #eeeeee, #cccccc);
  back
  ground-image: -o-linear-gradient(top, #eeeeee, #cccccc);
}


	#menuInicio{
		margin-left:80px;
	      position:absolute;
	      width:100%;
	      top:50px;
	      background:#CC0;
	      }
	#menuInicio ul{
		list-style:none;
	      margin:0;
	      
	      }
	#menuInicio li{
		float:left;
	      position:relative;
	      }
	#menuInicio a{
		color:#000;
	      display:block;
	      font-weight:bold;
	      margin:6px 15px 0 10px;
	      padding:5px 10px 5px 10px;
	      font-size:1.2em;
	      text-decoration:none;
	      }
	#menuInicio ul ul{
		display:none;
	      position:absolute;
	      top:30px;
	      left:10px;
	      float:left;
	      box-shadow:0px 3px 3px rgba(0,0,0,0.2);
	      -moz-box-shadow:0px 3px 3px rgba(0,0,0,0.2);
	      -webkit-box-shadow:0px 3px 3px rgba(0,0,0,0.2);
	      z-index:99999;
	      }
	#menuInicio ul ul li{
		min-width:180px;
	      }
	#menuInicio ul ul ul{
		left:100%;
	      top:0;
	      }
	#menuInicio ul ul li{
		background-color:#cc0000;
	      height:auto;
	      line-height:1em;
	      margin:0 0 0 0;
	      padding:10px;
	      width:160px;
	      }
	#menuInicio li:hover > a{
		background-color:#cc0000;
	      color:#fff;
	      }
	#menuInicio ul ul li a:hover{
		background-color:#AD0000;
	      }
	#menuInicio ul li:hover > ul{	
		display:block;
	      }
	#menuInicio ul li.current_page_item > a,
 #menuInicio ul li.current-menu-item > a{
	background-color:#cc0000;
	      color:#fff;
	      }
